<div class="card shadow-effect my-5">
    <div class="card-body">
        <div class="text-center">
            <h3 class="mb-1">SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nam reprehenderit quibusdam.</p>
            <form action="" class="row">
                <input type="text" class="col form-control shadow-effect" placeholder="Your name">
                <input type="email" class="col form-control shadow-effect" placeholder="Email address">
                <button type="button" class="btn btn-sm btn-info btn-sub col-2">SUBSCRIBE</button>
            </form>
        </div>
    </div>
</div>