<section class="title py-5 ps-5">
  <h2>General Knowledge</h2>
  <sub
    >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti magni
    nihil perferendis!</sub
  >
</section>

<section class="container main-section text-center py-5">
  <div class="row">
    <div class="col-lg-4 post">
      <app-post-card></app-post-card>
    </div>
    <div class="col-lg-4 post">
      <app-post-card></app-post-card>
    </div>
    <div class="col-lg-4 post">
      <app-post-card></app-post-card>
    </div>
    <div class="col-lg-4 post">
      <app-post-card></app-post-card>
    </div>
    <div class="col-lg-4 post">
      <app-post-card></app-post-card>
    </div>
    <div class="col-lg-4 post">
      <app-post-card></app-post-card>
    </div>
  </div>
  <div class="py-5">
    <button type="button" class="load-button">LOAD MORE</button>
  </div>
</section>
