<section class="featured-section text-center py-4 pb-5">
  <h3>Featured Posts</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, aut.</p>
  <div class="d-flex justify-content-evenly px-4 featured-posts">
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
  </div>
</section>
<section class="container main-section text-center py-5">
  <h3>Latest Posts</h3>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore eos
    pariatur quia.
  </p>
  <div class="row">
    <div class="col-lg-4 post">
      <app-post-card></app-post-card>
    </div>
    <div class="col-lg-4 post">
      <app-post-card></app-post-card>
    </div>
    <div class="col-lg-4 post">
      <app-post-card></app-post-card>
    </div>
    <div class="col-lg-4 post">
      <app-post-card></app-post-card>
    </div>
    <div class="col-lg-4 post">
      <app-post-card></app-post-card>
    </div>
    <div class="col-lg-4 post">
      <app-post-card></app-post-card>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-4 post1">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-4 post">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-4 post">
        <app-post-card></app-post-card>
      </div>
  </div> -->
</section>
