<div class="d-flex justify-content-center py-4">
    <div class="about-us-section p-4">
        <h2>About Us</h2>
        <div class="text-center about-text-box">
            <p class="about-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse repellendus adipisci suscipit iusto, accusamus voluptate sit quae in rem! Libero facilis eaque in excepturi corporis, cum laboriosam sed fugiat. Facere earum libero aut, reprehenderit nostrum ab porro maiores, autem, obcaecati dolore at officia quasi. Consectetur incidunt eius animi minus maxime quod aliquid deserunt repudiandae, suscipit, fuga, rerum aspernatur velit rem doloribus optio provident iure vel ex vitae eaque reprehenderit? Repellat sequi ratione voluptates assumenda, provident recusandae hic. Ipsum illo deserunt corporis pariatur libero impedit nemo, rerum repellat dicta recusandae neque vel expedita repudiandae at quidem nesciunt, dolorem quisquam velit! Assumenda.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sit sint rerum, mollitia totam doloribus eum voluptatem ipsa assumenda amet porro sed commodi cupiditate beatae sequi maxime, error aliquam, tenetur debitis! Voluptate numquam necessitatibus ratione eligendi neque repudiandae accusantium distinctio, ea minima quis natus animi iure sunt sint corporis molestiae deleniti facilis cum modi ducimus totam ullam error similique. Dolores quidem fuga fugit qui accusamus cupiditate aliquid optio! Similique voluptatum amet tempora, laborum incidunt laudantium autem maiores, in sapiente dolores distinctio alias dolore fugit, accusantium impedit provident harum pariatur optio! Nisi excepturi ipsum numquam, eos quas hic dicta rem iste.
            </p>
            <button type="button" class="load-button my-2">Back to home</button>
        </div>
    </div>
</div>