<div class="card shadow-effect">
    <img src="https://wallpapercave.com/wp/wp2819443.jpg" class="card-img-top" alt="..."> 
    <div class="card-body px-4">
        <div class="post-specs d-flex p-0 my-2 align-items-start">
            <div class="me-4 text-danger">INSPIRING</div>
            <div class="me-4 text-success">FEATURED</div>
            <div class="me-4 text-info">VIEWS - 1,250,000</div>
        </div>
      <h5 class="card-title">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h5>
      <p class="card-text mb-0"> Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="text-warning my-2 post-specs">LAST UPDATED - MAY 25, 2023</div>
    </div>
  </div>